<template>
<b-container class="bv-example-row">
  <b-row class="justify-content-md-center">
    <b-col cols="12" md="auto">
      <div class="container-fluid mt-4">
        <h1 class="h1">Categories Manager</h1>
        <div>
          <b-form-select
            class="mb-3"
            v-model="selected"
            :options="options"
            @change="selectedCategory"
          >
          </b-form-select>
        </div>
        <b-alert :show="loading" variant="info">Loading...</b-alert>
        <b-row class="mt-3">
          <b-col>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(category, i) in categories"
                  :key="category.id"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ category.name }}</td>
                  <td class="text-right">
                    <a
                      href="#"
                      @click.prevent="populateCategoryToEdit(category)"
                    >
                    Edit
                    </a> -
                    <a
                      href="#"
                      @click.prevent="deleteCategory(category.id)"
                    >
                    Delete
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </b-col>
        </b-row>
        <b-modal
          hide-footer
          v-model="modalShow"
          :title="modalTitle"
        >
          <form @submit.prevent="saveCategory">
                <b-form-group label="Name">
                  <b-form-input type="text" v-model="model.name"></b-form-input>
                </b-form-group>
                <div>
                  <b-btn 
                    type="submit"
                    variant="success"
                    :disabled="loading"
                  >
                  {{ isEdit ? 'Update' : 'Save' }}
                  </b-btn>
                </div>
              </form>
        </b-modal>
      </div>
    </b-col>
  </b-row>
</b-container>
</template>

<script>
import api from '@/api'
export default {
  data () {
    return {
      selected: '',
      modalShow: false,
      modalTitle: 'Create new category',
      isEdit: false,
      loading: false,
      categories: [],
      model: {},
      options: [
        { value: null, text: 'Please select an option' },
        { value: 'new category', text: 'Create new category' }
      ]
    }
  },
  async created () {
    this.refreshCategories()
  },
  methods: {
    selectedCategory () {
      this.modalShow = this.selected === 'new category'
    },
    async refreshCategories () {
      this.loading = true
      const res = await api.getCategories()
      this.categories = res.data
      this.loading = false
    },
    async populateCategoryToEdit (category) {
      this.model = Object.assign({}, category)
      this.modalShow = true
      this.isEdit = true
      this.modalTitle = 'Update category'
    },
    async saveCategory () {
      if (!this.model.name.trim()) {
        alert('Category name is empty!!')
        this.model.name = ''
        return
      }
      this.loading = true
      const { id, name } = this.model
      if (id) {
        await api.updateCategory(this.model.id, {name})
      } else {
        await api.createCategory({ name })
      }
      await this.refreshCategories()
      this.model = {} // reset form
      this.selected = ''
      this.modalShow = false
      this.isEdit = false
      this.loading = false
      this.modalTitle = 'Create new category'
    },
    async deleteCategory (id) {
      if (confirm('Are you sure you want to delete this category?')) {
        if (this.model.id === id) {
          this.model = {}
        }
        await api.deleteCategory(id)
        await this.refreshCategories()
      }
    }
  }
}
</script>