<template>
  <div class="hero">
    <div>
      <h3 class="display-3">Welcome to VueJs CRUD App</h3>
      <p class="lead">
        Create a CRUD using vue-router for two resources: Posts and Categories. A post belongs to multiple categories.
      </p>
    </div>
  </div>
</template>

<style>
  .hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero .lead {
    font-weight: 200;
    font-size: 1.5rem;
  }
</style>