<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">
      Posts Manager 
      <b-button
        variant="success"
        @click="modalShow = !modalShow"
      >+</b-button>
    </h1>
    <b-alert :show="loading" variant="info">Loading...</b-alert>
    <b-row>
      <b-col>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th>Categories</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(post, i) in posts"
              :key="post.id"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ post.title }}</td>
              <td>{{ post.body }}</td>
              <td>
                <b-list-group v-for="pcat in post.categories" :key="pcat.id">
                  <b-list-group-item button>{{ pcat.name }}</b-list-group-item>
                </b-list-group>
                </td>
              <td class="text-right">
                <a
                  href="#"
                  @click.prevent="populatePostToEdit(post)"
                >
                  Edit
                </a> -
                <a
                  href="#"
                  @click.prevent="deletePost(post.id)"
                >
                Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

    <b-modal
      hide-footer
      v-model="modalShow"
      :title="modalTitle"
    >
      <form @submit.prevent="savePost">
            <b-form-group label="Title">
              <b-form-input type="text" v-model="model.title"></b-form-input>
            </b-form-group>
            <b-form-group label="Body">
              <b-form-textarea rows="4" v-model="model.body"></b-form-textarea>
            </b-form-group>
            <b-form-group label="Select multiple category">
            <b-form-select
              multiple
              v-model="model.categories"
              :options="options"
              :select-size="4"
            >
            </b-form-select>
            </b-form-group>
            <div>
              <b-btn
                type="submit"
                variant="success"
                :disabled="loading"
              >
              {{ isEdit ? 'Update' : 'Save Post' }}
              </b-btn>
            </div>
          </form>
    </b-modal>
  </div>
</template>

<script>
import api from '@/api'
export default {
  data () {
    return {
      modalShow: false,
      modalTitle: 'Create new post',
      isEdit: false,
      loading: false,
      posts: [],
      categories: [],
      options: [],
      model: {
        categories: []
      }
    }
  },
  async created () {
    this.refreshPosts()
  },
  methods: {
    async refreshPosts () {
      this.loading = true
      const res = await api.getPosts()
      this.posts = res.data
      const cate = await api.getCategories()
      this.categories = cate.data
      this.options = this.categories.map((cat) => ({ value: cat, text: cat.name }))
      this.loading = false
    },
    async populatePostToEdit (post) {
      this.model = Object.assign({}, post)
      this.modalShow = true
      this.isEdit = true
      this.modalTitle = 'Update post'
    },
    async savePost () {
      this.loading = true
      const { id, title, body, categories = [] } = this.model
      let categoryIds = []
      categories.forEach(element => {
        categoryIds.push(element.id)
      })
      if (id) {
        await api.updatePost(id, { title, body, categoryIds })
      } else {
        await api.createPost({ title, body, categoryIds })
      }
      this.model = {categories: []} // reset form
      this.modalShow = false
      this.loading = false
      this.isEdit = false
      this.modalTitle = 'Create new post'
      await this.refreshPosts()
    },
    async deletePost (id) {
      if (confirm('Are you sure you want to delete this post?')) {
        // if we are editing a post we deleted, remove it from the form
        if (this.model.id === id) {
          this.model = {categories: []}
        }
        await api.deletePost(id)
        await this.refreshPosts()
      }
    }
  }
}
</script>